In [1]:
from scipy.optimize import minimize
import numpy as np
import pandas as pd

In [31]:
credit_card = np.array([100, 50, 60, 55, 75, 75, 80, 65, 80])
credit_cash = np.array([120, 70, 75, 80, 60, 65, 70, 60, 110])
partner = np.array([90, 75, 65, 75, 50, 60, 75, 60, 75])

In [32]:
df = pd.DataFrame({'credit_card': credit_card, 'credit_cash': credit_cash, 'partner': partner})
df

   credit_card  credit_cash  partner
0          100          120       90
1           50           70       75
2           60           75       65
3           55           80       75
4           75           60       50
5           75           65       60
6           80           70       75
7           65           60       60
8           80          110       75

In [33]:
def value(x):
    return - 10*x[0] - 20*x[1] - 30*x[2]

In [7]:
l = 50

In [19]:
recall_probability = {
    'call': np.random.random_sample(l),
    'sms': np.random.random_sample(l),
    'push': np.random.random_sample(l),
    'mail': np.random.random_sample(l),
}
product_cost = {'pacl': 10000, 'pacc': 8000, 'deposit': 6500, 'card': 5500}

In [28]:
recall_probability

{'call': array([0.30543388, 0.56495829,        nan,        nan, 0.71607417,
               nan, 0.38659664, 0.78978972, 0.66865466, 0.47443336,
               nan, 0.1534172 , 0.08679312, 0.47785638, 0.794699  ,
        0.21301328, 0.2882064 , 0.93358406, 0.49424363, 0.61204938,
        0.14515275, 0.1328135 , 0.09559178, 0.5900503 , 0.35500746,
        0.99149389, 0.07802139, 0.86192573, 0.31472142, 0.25820212,
        0.05787536, 0.07249226, 0.12819701, 0.27317156, 0.49750995,
        0.97138259, 0.99501431, 0.1608604 , 0.67716757, 0.01404972,
        0.06135839, 0.2345275 , 0.09834935, 0.97081075, 0.22646222,
        0.80469107, 0.0112665 , 0.93656381, 0.32805496, 0.57393724]),
 'sms': array([0.54770911, 0.63695367, 0.26354127,        nan, 0.37797284,
               nan, 0.09523589, 0.91456635, 0.27949058, 0.25217608,
        0.70818066, 0.17365915,        nan, 0.50082628, 0.42065176,
        0.35891672, 0.75924337, 0.95349418, 0.46565284, 0.54051066,
        0.88505237, 0.77142174, 0.37004228, 0.31630546, 0.13850205,
        0.93529124, 0.15071041, 0.72807029, 0.58259504,        nan,
        0.51790985, 0.0010938 , 0.22458669, 0.80020109, 0.53432592,
        0.71817249, 0.24622164, 0.74358379, 0.0849571 , 0.38513609,
        0.06258544, 0.40170483, 0.83524532, 0.58924187, 0.95410155,
        0.98521112, 0.62089682, 0.27160779, 0.75981477, 0.26243612]),
 'push': array([0.93225514, 0.72207622, 0.46029648,        nan, 0.21570381,
        0.91705219, 0.4571798 ,        nan, 0.16144726, 0.12209756,
        0.97831465, 0.32233356, 0.93218498, 0.68431755, 0.76197276,
        0.14022769, 0.37739454, 0.49842905, 0.52857319, 0.41799365,
        0.96903828, 0.37158006,        nan, 0.45416857, 0.81090517,
        0.02042709, 0.4281878 , 0.23546461,        nan, 0.18818654,
        0.92248425, 0.47950542, 0.56918264, 0.0374751 , 0.90460777,
        0.2518385 , 0.32080189, 0.4750964 , 0.72226481, 0.9362916 ,
        0.93197262, 0.47708532, 0.2466881 , 0.6753534 , 0.37910177,
        0.25696661, 0.46001508, 0.92532076, 0.37597109, 0.63049447]),
 'mail': array([0.83996476, 0.13256266, 0.55801533,        nan, 0.78221525,
               nan, 0.60013448, 0.20547221, 0.55739981, 0.41470633,
        0.34347436, 0.56280917, 0.5562367 , 0.17607513, 0.47907873,
        0.96876814, 0.55263572, 0.93592926, 0.26018796, 0.32370108,
        0.04146254, 0.73884697, 0.09590817, 0.75016476, 0.40144665,
        0.80417627, 0.91291164, 0.70737875, 0.38367998, 0.97849351,
               nan, 0.11794283,        nan, 0.99575154, 0.72854187,
        0.86161071, 0.55334687, 0.89421777, 0.53029693, 0.5170942 ,
        0.59491594, 0.3323655 , 0.27586555, 0.23684794, 0.05236699,
        0.21352617, 0.03279986, 0.36681536, 0.56493483, 0.34576065])}

In [20]:
recall_probability['call'][3] = np.nan
recall_probability['call'][5] = np.nan
recall_probability['call'][10] = np.nan
recall_probability['call'][2] = np.nan
recall_probability['sms'][3] = np.nan
recall_probability['sms'][5] = np.nan
recall_probability['sms'][12] = np.nan
recall_probability['sms'][29] = np.nan
recall_probability['push'][3] = np.nan
recall_probability['push'][7] = np.nan
recall_probability['push'][22] = np.nan
recall_probability['push'][28] = np.nan
recall_probability['mail'][3] = np.nan
recall_probability['mail'][5] = np.nan
recall_probability['mail'][30] = np.nan
recall_probability['mail'][32] = np.nan

In [29]:
tmp_dict = dict()
for i in product_cost:
    for ii in recall_probability:
        tmp_dict[i+'_'+ii] = recall_probability[ii] * product_cost[i]
tmp_df = pd.DataFrame(tmp_dict)

In [30]:
tmp_df

,pacl_call,pacl_sms,pacl_push,pacl_mail,pacc_call,pacc_sms,pacc_push,pacc_mail,deposit_call,deposit_sms,deposit_push,deposit_mail,card_call,card_sms,card_push,card_mail
0,3054.338759,5477.091138,9322.551426,8399.647624,2443.471008,4381.672911,7458.041141,6719.718100,1985.320194,3560.109240,6059.658427,5459.770956,1221.735504,2190.836455,3729.020571,3359.859050
1,5649.582913,6369.536688,7220.762182,1325.626627,4519.666331,5095.629350,5776.609745,1060.501302,3672.228894,4140.198847,4693.495418,861.657308,2259.833165,2547.814675,2888.304873,530.250651
2,NaN,2635.412747,4602.964790,5580.153340,NaN,2108.330197,3682.371832,4464.122672,NaN,1713.018285,2991.927113,3627.099671,NaN,1054.165099,1841.185916,2232.061336
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7160.741716,3779.728440,2157.038057,7822.152526,5728.593373,3023.782752,1725.630446,6257.722021,4654.482115,2456.823486,1402.074737,5084.399142,2864.296686,1511.891376,862.815223,3128.861011
5,NaN,NaN,9170.521885,NaN,NaN,NaN,7336.417508,NaN,NaN,NaN,5960.839225,NaN,NaN,NaN,3668.208754,NaN
6,3865.966395,952.358909,4571.798045,6001.344750,3092.773116,761.887128,3657.438436,4801.075800,2512.878157,619.033291,2971.668729,3900.874088,1546.386558,380.943564,1828.719218,2400.537900
7,7897.897163,9145.663509,NaN,2054.722125,6318.317731,7316.530807,NaN,1643.777700,5133.633156,5944.681281,NaN,1335.569381,3159.158865,3658.265403,NaN,821.888850
8,6686.546639,2794.905750,1614.472577,5573.998083,5349.237311,2235.924600,1291.578062,4459.198466,4346.255315,1816.688738,1049.407175,3623.098754,2674.618655,1117.962300,645.789031,2229.599233
9,4744.333582,2521.760847,1220.975573,4147.063256,3795.466866,2017.408678,976.780459,3317.650605,3083.816828,1639.144550,793.634123,2695.591116,1897.733433,1008.704339,488.390229,1658.825302
10,NaN,7081.806596,9783.146493,3434.743572,NaN,5665.445277,7826.517194,2747.794857,NaN,4603.174287,6359.045220,2232.583321,NaN,2832.722638,3913.258597,1373.897429
11,1534.172048,1736.591535,3223.335567,5628.091702,1227.337638,1389.273228,2578.668454,4502.473362,997.211831,1128.784498,2095.168119,3658.259606,613.668819,694.636614,1289.334227,2251.236681
12,867.931218,NaN,9321.849774,5562.366998,694.344975,NaN,7457.479819,4449.893598,564.155292,NaN,6059.202353,3615.538549,347.172487,NaN,3728.739910,2224.946799
13,4778.563817,5008.262801,6843.175464,1760.751263,3822.851054,4006.610240,5474.540372,1408.601010,3106.066481,3255.370820,4448.064052,1144.488321,1911.425527,2003.305120,2737.270186,704.300505
14,7946.990018,4206.517564,7619.727643,4790.787268,6357.592014,3365.214051,6095.782114,3832.629814,5165.543512,2734.236417,4952.822968,3114.011724,3178.796007,1682.607026,3047.891057,1916.314907
15,2130.132754,3589.167177,1402.276859,9687.681417,1704.106203,2871.333741,1121.821487,7750.145133,1384.586290,2332.958665,911.479958,6296.992921,852.053102,1435.666871,560.910744,3875.072567
16,2882.064025,7592.433681,3773.945423,5526.357160,2305.651220,6073.946945,3019.156338,4421.085728,1873.341616,4935.081893,2453.064525,3592.132154,1152.825610,3036.973472,1509.578169,2210.542864
17,9335.840569,9534.941754,4984.290507,9359.292590,7468.672455,7627.953403,3987.432406,7487.434072,6068.296370,6197.712140,3239.788830,6083.540184,3734.336228,3813.976702,1993.716203,3743.717036
18,4942.436334,4656.528416,5285.731909,2601.879646,3953.949067,3725.222733,4228.585527,2081.503717,3212.583617,3026.743470,3435.725741,1691.221770,1976.974533,1862.611366,2114.292763,1040.751859
19,6120.493782,5405.106639,4179.936495,3237.010791,4896.395026,4324.085311,3343.949196,2589.608633,3978.320958,3513.319315,2716.958721,2104.057014,2448.197513,2162.042656,1671.974598,1294.804316
20,1451.527543,8850.523684,9690.382800,414.625398,1161.222034,7080.418947,7752.306240,331.700318,943.492903,5752.840395,6298.748820,269.506509,580.611017,3540.209474,3876.153120,165.850159
21,1328.134996,7714.217424,3715.800599,7388.469720,1062.507997,6171.373939,2972.640479,5910.775776,863.287747,5014.241326,2415.270389,4802.505318,531.253998,3085.686970,1486.320240,2955.387888
22,955.917844,3700.422839,NaN,959.081738,764.734275,2960.338271,NaN,767.265390,621.346599,2405.274845,NaN,623.403129,382.367138,1480.169136,NaN,383.632695
23,5900.502975,3163.054621,4541.685663,7501.647629,4720.402380,2530.443697,3633.348531,6001.318103,3835.326934,2055.985504,2952.095681,4876.070959,2360.201190,1265.221848,1816.674265,3000.659052
24,3550.074620,1385.020482,8109.051740,4014.466454,2840.059696,1108.016386,6487.241392,3211.573164,2307.548503,900.263313,5270.883631,2609.403195,1420.029848,554.008193,3243.620696,1605.786582
25,9914.938851,9352.912431,204.270908,8041.762685,7931.951081,7482.329945,163.416726,6433.410148,6444.710253,6079.393080,132.776090,5227.145745,3965.975541,3741.164973,81.708363,3216.705074
26,780.213893,1507.104089,4281.877985,9129.116376,624.171115,1205.683271,3425.502388,7303.293101,507.139031,979.617658,2783.220690,5933.925645,312.085557,602.841635,1712.751194,3651.646551
27,8619.257328,7280.702865,2354.646102,7073.787508,6895.405863,5824.562292,1883.716882,5659.030007,5602.517263,4732.456862,1530.519966,4597.961880,3447.702931,2912.281146,941.858441,2829.515003
28,3147.214200,5825.950382,NaN,3836.799796,2517.771360,4660.760305,NaN,3069.439837,2045.689230,3786.867748,NaN,2493.919867,1258.885680,2330.380153,NaN,1534.719918
29,2582.021240,NaN,1881.865406,9784.935100,2065.616992,NaN,1505.492324,7827.948080,1678.313806,NaN,1223.212514,6360.207815,1032.808496,NaN,752.746162,3913.974040
30,578.753554,5179.098460,9224.842530,NaN,463.002843,4143.278768,7379.874024,NaN,376.189810,3366.413999,5996.147645,NaN,231.501422,2071.639384,3689.937012,NaN
31,724.922636,10.938014,4795.054229,1179.428329,579.938108,8.750411,3836.043383,943.542664,471.199713,7.109709,3116.785249,766.628414,289.969054,4.375206,1918.021691,471.771332
32,1281.970086,2245.866930,5691.826355,NaN,1025.576069,1796.693544,4553.461084,NaN,833.280556,1459.813504,3699.687131,NaN,512.788035,898.346772,2276.730542,NaN
33,2731.715603,8002.010918,374.750983,9957.515423,2185.372482,6401.608734,299.800786,7966.012339,1775.615142,5201.307097,243.588139,6472.385025,1092.686241,3200.804367,149.900393,3983.006169
34,4975.099509,5343.259202,9046.077653,7285.418662,3980.079607,4274.607361,7236.862122,5828.334929,3233.814681,3473.118481,5879.950474,4735.522130,1990.039804,2137.303681,3618.431061,2914.167465
35,9713.825885,7181.724902,2518.384990,8616.107115,7771.060708,5745.379921,2014.707992,6892.885692,6313.986825,4668.121186,1636.950243,5600.469625,3885.530354,2872.689961,1007.353996,3446.442846
36,9950.143084,2462.216429,3208.018902,5533.468671,7960.114467,1969.773143,2566.415122,4426.774937,6467.593004,1600.440679,2085.212287,3596.754636,3980.057233,984.886572,1283.207561,2213.387469
37,1608.604009,7435.837883,4750.963956,8942.177726,1286.883207,5948.670306,3800.771165,7153.742181,1045.592606,4833.294624,3088.126571,5812.415522,643.441604,2974.335153,1900.385582,3576.871090
38,6771.675675,849.570992,7222.648145,5302.969340,5417.340540,679.656794,5778.118516,4242.375472,4401.589189,552.221145,4694.721294,3446.930071,2708.670270,339.828397,2889.059258,2121.187736
39,140.497207,3851.360907,9362.916001,5170.941983,112.397766,3081.088726,7490.332801,4136.753587,91.323185,2503.384590,6085.895401,3361.112289,56.198883,1540.544363,3745.166400,2068.376793
40,613.583907,625.854366,9319.726247,5949.159359,490.867125,500.683493,7455.780998,4759.327487,398.829539,406.805338,6057.822061,3866.953583,245.433563,250.341746,3727.890499,2379.663743
41,2345.274972,4017.048268,4770.853192,3323.654998,1876.219978,3213.638614,3816.682553,2658.923998,1524.428732,2611.081374,3101.054575,2160.375749,938.109989,1606.819307,1908.341277,1329.461999
42,983.493502,8352.453212,2466.880988,2758.655542,786.794802,6681.962570,1973.504790,2206.924434,639.270776,5429.094588,1603.472642,1793.126103,393.397401,3340.981285,986.752395,1103.462217
43,9708.107523,5892.418687,6753.534012,2368.479438,7766.486018,4713.934950,5402.827210,1894.783550,6310.269890,3830.072147,4389.797108,1539.511635,3883.243009,2356.967475,2701.413605,947.391775
44,2264.622180,9541.015526,3791.017686,523.669852,1811.697744,7632.812421,3032.814149,418.935881,1472.004417,6201.660092,2464.161496,340.385404,905.848872,3816.406210,1516.407075,209.467941
45,8046.910716,9852.111157,2569.666061,2135.261739,6437.528573,7881.688926,2055.732849,1708.209391,5230.491965,6403.872252,1670.282940,1387.920130,3218.764286,3940.844463,1027.866424,854.104696
46,112.665022,6208.968183,4600.150753,327.998613,90.132017,4967.174546,3680.120602,262.398890,73.232264,4035.829319,2990.097989,213.199099,45.066009,2483.587273,1840.060301,131.199445
47,9365.638122,2716.077861,9253.207558,3668.153581,7492.510498,2172.862288,7402.566046,2934.522865,6087.664779,1765.450609,6014.584913,2384.299828,3746.255249,1086.431144,3701.283023,1467.261432
48,3280.549621,7598.147746,3759.710914,5649.348306,2624.439697,6078.518197,3007.768731,4519.478644,2132.357254,4938.796035,2443.812094,3672.076399,1312.219848,3039.259099,1503.884366,2259.739322
49,5739.372357,2624.361234,6304.944662,3457.606509,4591.497886,2099.488987,5043.955729,2766.085207,3730.592032,1705.834802,4098.214030,2247.444231,2295.748943,1049.744494,2521.977865,1383.042603

In [22]:
df.values*0

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

## https://stackoverflow.com/questions/41702690/optimization-in-scipy-for-a-matrix

I am trying to find the optimize matrix with binary entries (0,1) so that my objective function get maximized.

My X input is a 2-dimensional matrix with 0 and 1 entries.

My objective function is like this:

In [8]:
def objective(x):
    w=[[2,3],[4,6],[1,0],[2,8]]
    return -1* (x[0][0]*w[0][0]+x[0][1]*w[0][1]+x[1][0]*w[1][0]+x[1][1]*w[1][1])

And here is my initial X:

In [9]:
x0=[[1,0],[1,0],[0,1],[0,0]]

Here I define the boundaries for X:

In [10]:
b=(0,1)
bnds=((b,b),(b,b))

And finally the maximization problem

In [ ]:
sol=minimize(objective,x0,method='SLSQP',bounds=bnds)

But I have two problems:

First: The bnds has different dimension than my X and I get an error for that. Second, when I run the minimize function I get and error that says invalid index to scalar variable.

In [13]:
objective(x0)

-6

In [14]:
def foo(x):
    return objective(x.reshape(-1,2))

In [15]:
foo(np.array(x0).ravel())

-6

In [16]:
minimize(foo, x0, method='SLSQP')

     fun: -82795447636.03171
     jac: array([0., 0., 0., 0., 0., 0., 0., 0.])
 message: 'Optimization terminated successfully.'
    nfev: 140
     nit: 14
    njev: 14
  status: 0
 success: True
       x: array([2.54755235e+09, 3.82132781e+09, 5.09510473e+09, 7.64265676e+09,
       0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00])

I have't incorporated the bounds yet

In [17]:
np.array(bnds).shape

(2, 2, 2)

They have to be compatible with the flattened x0

In [18]:
np.array(x0).ravel()

array([1, 0, 1, 0, 0, 1, 0, 0])

For example, this constrains all values between 0 and 1

In [20]:
bnds=np.array((np.zeros(8),np.ones(8))).T
bnds

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [21]:
minimize(foo, x0, method='SLSQP',bounds=bnds)

     fun: -15.0
     jac: array([-2., -3., -4., -6.,  0.,  0.,  0.,  0.])
 message: 'Optimization terminated successfully.'
    nfev: 20
     nit: 2
    njev: 2
  status: 0
 success: True
       x: array([1., 1., 1., 1., 0., 1., 0., 0.])